<header class="bg-[#1E1E1E] border-y-[#2A2A2A] border-y-2">
    <div class="mx-5 my-5 lg:mx-40">
        <div class="flex items-center gap-4">
            <div class="bg-[#3B82F6] p-2 rounded-lg">
                <img class="w-6 h-6" src="/assets/icons/coche.svg" alt="">
            </div>
            <div class="">
                <p class="text-white font-bold text-xl">Gestiona tu Concesionario</p>
                <p class="text-[#A1A1A1]">Panel de Control</p>
            </div>
        </div>
    </div>
</header>