<section class="mx-5 lg:mx-40 my-5">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <div class="bg-[#1E1E1E] border-[#2A2A2A] border-2 rounded-lg p-4">
            @if(chartOptions){
                <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis"
                    [yaxis]="chartOptions.yaxis"
                    [grid]="chartOptions.grid"
                    [title]="chartOptions.title"
                    [subtitle]="chartOptions.subtitle"
                    [responsive]="chartOptions.responsive"
                    [stroke]="chartOptions.stroke"
                    [fill]="chartOptions.fill">
                </apx-chart>
            }
        </div>
        <div class="bg-[#1E1E1E] border-[#2A2A2A] border-2 rounded-lg p-4">
            @if (barChartOptions) {
                <apx-chart
                    [series]="barChartOptions.series"
                    [chart]="barChartOptions.chart"
                    [plotOptions]="barChartOptions.plotOptions"
                    [xaxis]="barChartOptions.xaxis"
                    [yaxis]="barChartOptions.yaxis"
                    [stroke]="barChartOptions.stroke"
                    [markers]="barChartOptions.markers"
                    [grid]="barChartOptions.grid"
                    [title]="barChartOptions.title"
                    [subtitle]="barChartOptions.subtitle"
                    [tooltip]="barChartOptions.tooltip"
                    [dataLabels]="barChartOptions.dataLabels">
                </apx-chart>
            }
        </div>
    </div>
</section>